<!-- Footer -->
<footer class="cs-footer pt-sm-5 pt-4 bg-dark">
    <div class="container pt-3">
      <div class="row pb-sm-2">
        <div class="col-6 col-sm-3 col-lg-2 mb-4">
          <h3 class="h6 mb-2 pb-1 text-uppercase text-light">Políticas</h3>
          <ul class="nav nav-light flex-column">
            <li class="nav-item mb-2">
              <a href="order-tracking.html" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Terminos y condiciones</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Devolución</a>
            </li>
            <li class="nav-item mb-2">
              <a href="contacts.html" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Privacidad</a>
            </li>
            <li class="nav-item mb-2">
              <a href="blog.html" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Cookies</a>
            </li>
            <li class="nav-item mb-2">
              <a href="contacts.html" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Delivery</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-sm-3 col-lg-2 col-xl-3 mb-4">
          <h3 class="h6 mb-2 pb-1 text-uppercase text-light pl-xl-6">Tienda</h3>
          <ul class="nav nav-light flex-column pl-xl-6">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Mis pedidos</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">¿Cómo comprar?</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Sobre Nosotros</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Productos</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Ofertas</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3 pb-2 pb-lg-0 mb-4">
          <h3 class="h6 mb-2 pb-1 text-uppercase text-light">Contacto</h3>
          <ul class="nav nav-light flex-column pb-3">
            <li class="nav-item text-nowrap mb-2">
              <span class="text-light mr-1">Teléfono:</span>
              <a href="tel:5073967475" class="nav-link d-inline-block mr-lg-0 mr-sm-4 p-0 font-weight-normal">(507) 396-7475</a>
            </li>
            <li class="nav-item text-nowrap mb-2">
              <span class="text-light mr-1">Correo:</span>
              <a href="mailto:tech@ofideusa.net" class="nav-link d-inline-block mr-lg-0 mr-sm-4 p-0 font-weight-normal">tech@ofideusa.net</a>
            </li>
          </ul>
          <a href="https://www.facebook.com/Ofideusa.utiles/" class="social-btn sb-solid sb-light mr-2" target="_blank">
            <i class="cxi-facebook"></i>
          </a>
          <a href="https://www.instagram.com/ofideusa.utiles/" class="social-btn sb-solid sb-light mr-2" target="_blank">
            <i class="cxi-instagram"></i>
          </a>
          <a href="https://api.whatsapp.com/send?phone=50766451699" class="social-btn sb-solid sb-light mr-2" target="_blank">
            <i class="cxi-whatsapp"></i>
          </a>
          <a href="https://www.linkedin.com/company/89607933/" class="social-btn sb-solid sb-light mr-2" target="_blank">
            <i class="cxi-linkedin"></i>
          </a>
        </div>
        <div class="col-lg-4 col-xl-3 mb-4">
          <h3 class="h6 mb-3 pb-1 text-uppercase text-light">Métodos de pago</h3>
          <div class="d-flex flex-wrap flex-sm-nowrap">
            <img src="../../../assets/img/payment.png" alt="Métodos de pago">
          </div>
        </div>
      </div>
    </div>
    <div class="border-top border-light">
      <div class="container py-4">
        <div class="font-size-xs text-light">
          <span class="font-size-sm">&copy; </span>
          Todos los derechos reservados. Hecho con 
          <i class="cxi-heart mt-n1 mx-1 font-size-base text-primary align-middle"></i>
          <a href="/" class="text-light" target="_blank" rel="noopener noreferrer">por Ofideusa</a>
        </div>
      </div>
    </div>
  </footer>